<template>
    <div>
        <div class="text-center mt-5 py-5">
              
           
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                            <label>Nombres y apellidos</label>
                            <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4 has-danger">
                                        <input class="form-control" v-model="name" placeholder="" type="text" :required="true">
                                        <div class="input-group-append">
                                            <span class="input-group-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label>Número de contacto</label>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4 has-danger">
                                        <input class="form-control" v-model="phone" placeholder="" type="number" :required="true">
                                        <div class="input-group-append">
                                            <span class="input-group-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label>Correo electrónico</label>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4 has-danger">
                                        <input class="form-control" v-model="email" placeholder="" type="email" :required="true">
                                        <div class="input-group-append">
                                            <span class="input-group-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label>¿En qué ciudad de Colombia vives?</label>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4 has-danger">
                                        <input class="form-control" v-model="city" placeholder="" type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label>¿Qué Profesión ejerces?</label>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4 has-danger">
                                        <input class="form-control" v-model="proffesion" placeholder="" type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 mx-auto">
                                <label>¿Cuál sería tu servicio a ofrecer?</label>
                               
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4 has-danger">
                                        <input class="form-control " v-model="service" placeholder="" type="text" >
                                        <div class="input-group-append">
                                            <span class="input-group-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <div class="form-group">
                                    <span>
                                         <span><a href="../assets/docs/terminosycondicionesey.pdf" target="_blank" >Términos y condiciones</a></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row mt-5 justify-content-center">
                            <div class="col-md-4 actions">
                            <button class="btn btn-outline-primary btn-sm" @click="cancel()" type="reset">Cancelar</button>
                            <button class="btn btn-primary btn-sm" @click="register()" type="button">Enviar información</button>
                            </div>
                        </div>
                 
                </div>
    


                <div class="mt-5 py-5 border-top text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                        <div class="card-profile-stats d-flex justify-content-center">
                            <div>
                                <span class="heading">{{count}}</span>
                                <span class="description">Personas que quieren ser parte de <strong>Ey!</strong> Socios.</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</template>

<script>
import Swal from '../sweetalert2.all'
    export default {
        data(){
            return{
                name: '',
                phone:'',
                email:'',
                service:'',
                proffesion:'',
                count:'',
                city:'',
                loading_submit: false,
                errors: {
                    name:'',
                    email:'',
                    phone:'',
                },
            }
        },
        created(){
            this.getData();
        },
        methods:{
            getData(){
                
                this.$http.get(`/interviews/count`)
                    .then(response => {
                        console.log(response);
                        var respuesta = response.data;
            
                        this.count = respuesta.length;
                })     
            },
            register(){

                this.validate();


                if(this.loading_submit){
                     this.$http.post(`interviews/store`, {
                        'name':this.name,
                        'phone':this.phone,
                        'email':this.email,
                        'city':  this.city,
                        'service':this.service,
                        'proffesion':this.proffesion,
                    })
                    .then(response => {

                        if(response.data.success){

                            swal(
                                'Gracias por Registrarte',
                                'Te estaremos enviando información sobre Ey!',
                                'success'
                                )
                            this.cancel();
                            this.getData();
                        }else {
                            this.errors = response.data.errors
                            swal(
                                'Error!',
                                'Falla en el resgitro'+this.errors,
                                'danger'
                                )
                        }
                    })
                    .catch(error => {
                            this.errors = response.data.errors
                          
                    })
                } else {
                    swal(
                    'Error!',
                    'Falla en el resgitro'+'<br>'+this.errors.name+'<br>'+this.errors.phone+'<br>'+this.errors.email+'<br>',             
                    'warning'
                    )
                }


               

            },
            cancel(){
                this.name = '';
                this.phone = '';
                this.email = '';
                this.service= '';
                this.city= '';
                this.proffesion = '';
            },
            validate(){
                this.errors = {
                    name:'',
                    email:'',
                    phone:'',

                };

                if(!this.name) this.errors.name = 'Nombres requeridos';
                if(this.email == ''){
                    this.errors.email = 'Correo electrónico requerido';
                } else{
                    if (/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(this.email)){
                        this.errors.email = '';
                    } else {
                        this.errors.email = 'Formato de correo es incorrecto.'
                    }
                }
                
                
                if(!this.phone) this.errors.phone = 'Teléfono requerido';
                
                

                if( this.name ==='' || this.email ==='' || this.phone ==='') {
                
                    this.loading_submit = false
                } else {
                    this.loading_submit = true
                }
            }
        }
    }
</script>
