<template>
    <div>
        <section class="upper">
            <div class="container">
                <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card card-invoice">
                    <div class="card-header text-center">
                        <div class="row justify-content-between">
                            <div class="col-md-4 text-left">
                                <!-- <img class="mb-2 w-100" [src]="../assets/img/brand/blue.png" alt="Logo"> -->
                                <h6>
                                San juan de Pasto,Colombia
                                </h6>
                                <small class="d-block text-muted">http://ey-app.co/</small>
                                <small><strong>{{count}}</strong></small>
                            </div>
                        
                        </div>
                        <br>
                       
                    </div>
                    <div class="card-body">
                        <div class="">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                    
                                        <th class="text-right ">Nombres</th>
                                        <th class="text-right ">Correo</th>
                                        <th class="text-right ">Teléfono</th>
                                        <th class="text-right ">Profesión</th>
                                        <th width="10%" class="overflow-visible">Servicios</th>
                                        <th class="text-right ">Ciudad</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="index in records">
                                        <td>{{index.name}}</td>
                                        <td>{{index.email}}</td>
                                        <td>{{index.phone}}</td>
                                        <td>{{index.proffesion}}</td>
                                        <td width="10%" class="overflow-visible">{{index.service}}</td>
                                        <td>{{index.city}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer py-4">
                                <nav aria-label="...">
                                    <ul class="pagination justify-content-end mb-0">
                                        <li class="page-item" v-if="pagination.current_page > 1">
                                            <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active':'']">
                                            <a class="page-link" href="#" @click.prevent="changePage(page)" v-text="page"></a>
                                        </li>
                                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                            <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <div class="col-md-5 ml-auto">
                        <h5>Gracias!</h5>
                        <h6 class="d-block">
                            Correo Electrónico:
                            <small class="text-muted">support@ey-app.co</small>
                        </h6>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
</template>
<style>
.overflow-visible {
  white-space: initial;
}
</style>
<script>

import Swal from '../sweetalert2.all'
    export default {
        data(){
            return{
                records:[],
                count:'',
                pagination: {
                    'total' :0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
            }
        },
        computed:{
             isActived: function(){
                return this.pagination.current_page;
            },

            pagesNumber: function(){
                if( !this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while( from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        created(){
            this.getData();
        },
        methods:{
            getData(page){
                
                this.$http.get(`/interviews?page=`+page)
                    .then(response => {
                        var respuesta = response.data;
                        this.records = respuesta.interview.data;
                        this.pagination= respuesta.pagination;
                })     
            },
            changePage(page){
                
                //actualiza la pagina actual
                this.pagination.current_page = page;
                this.getData(page);
            },
        }
    }
</script>
